.boardContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  position: absolute;
  left: 100px;
  top: 90px;
}

.boards-main {
  margin-top: 5rem;
}

.selectsprint {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers items horizontally */
  gap: 20px; /* Space between items */
  width: 100%; /* Full width of the container */
}

.heading {
  margin: 0;
}

.boardDropdown {
  flex-grow: 1;
}

.Selectboardsprint {
  width: 100%; /* Ensures the dropdown uses the available space */
}

.boards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.boardFlexContainer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50px;
}

.boardDropZone {
  flex: 1;
  width: 360px;
  min-height: 400px;
  padding: 16px;
  margin: 8px;
  background-color: #f4f5f7; /* Light whitish color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boardDropZoneTitle {
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 1.2em;
}

.boardDraggableItem {
  padding: 16px;
  margin: 8px 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.2s, transform 0.2s; /* Added transition for smoother animation */
}

.boardDraggableItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); /* Lifts the element slightly on hover */
}

.boardDraggableItem img {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.boardDraggableItemDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.boardDraggableItem .done {
  text-decoration: line-through;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.sidebar-3 {
  position: fixed;
  overflow-y: auto;
  height: 100%;
}

.completebtn {
  background-color: #a8406a; /* Changed to desired color */
  margin-left: 800px;
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.completebtn:hover {
  background-color: #922a56; /* Darker shade on hover */
}


