*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  .monthlabel {
    padding-top: 14px;
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    background-color: #eae9e9;
  }
  .sprintlabel{
    height: 45px;
    background-color:#eae9e9;
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: bold;
  }
  .sprint{
  border-bottom: 1px solid rgb(255, 255, 255);
    height: 50px;
  
    text-align: center;
    font-size: 14px;
    background-color:#eae9e9;
  }
  #righticon{
    position: relative;
    top: 15px;
    right: 80px;
    font-size: 13px;
  }
  
  .colsprint-container {
    /* Your existing styles */
  }
  
  .sprint {
    /* Your existing styles */
    position: relative;
  }
  