/* Container styles */
.container {
  overflow-x: auto;
  width: 100%;
}

.export-button {
  background-color: rgb(224, 224, 224);
  color: #000000; /* Change text color as needed */
  padding: 8px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px; /* Adjust border radius as needed */
  cursor: pointer;
  font-size: 16px;
  position: relative;
  bottom: 20px;
  left: 990px;
}

.maxi_icon {
  position: relative;
  /* top: 35px; */
  left: 970px;
  bottom: 10px;
  width: 20px;
  height: 30px;
  font-weight: bolder;
}
.team-time{
margin-left: 800px;
position: relative;
top: 20px;
}
.export-button:hover {
  background-color: #dbddde; /* Change hover background color as needed */
}

/* SVG styles */
svg {
  font-family: Arial, sans-serif;
}

/* Month label styles */
.month-label {
  font-size: 14px;
  fill: #333;
}

/* Day label styles */
.day-label {
  font-size: 12px;
  fill: #666;
}

/* Vertical line styles */
.vertical-line {
  stroke: #ccc;
}

/* Popup styles */
.popuptime {
  position: absolute;
  background-color: white;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popuptime p {
  margin: 5px 0;
  font-size: 14px;
}

.popuptime strong {
  font-size: 16px;
  font-weight: bold;
}

.popuptime button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #a8406a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popuptime button:hover {
  background-color: #a8406a;
}
.timeline-h1{
  margin-top: 100px;
  margin-left: 120px;
}
.colsprintmax {
  position: absolute;
  top: 163px;
  left: 120px;
}

/* Add these styles to your CSS file */
.future-sprint {
  color: blue;
  font-weight: bold;
}

.active-sprint {
  color: green;
  font-weight: bold;
}

.closed-sprint {
  color: rgb(255, 0, 8);
  font-weight: bold;
}

/* Centered popup styles */
.centered-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Adjust the background color as needed */
  border: 1px solid #ccc; /* Adjust the border as needed */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  padding: 20px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure the popup appears above other content */
  width: 300px; /* Adjust the width as needed */
 
}
.sprint-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sprint-info p {
  margin-right: 10px; /* Adjust margin as needed */
}

